<header class="parallax">
  <div class="container text-center">
    <h1 style="font-family: 'Kaushan Script', cursive;">Linea del Tiempo</h1>
    <p>Cooperativa ViCafé</p>
  </div>
</header>

<section class="timeline">
  <div class="container">
    <div class="timeline-item" *ngFor="let hst of historyList">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250"
            height="250" src="{{url + '/get-image-history/' + hst.image}}" *ngIf="hst.image">
        <div class="timeline-img-header">
          <h2>{{hst.title}}</h2>
        </div>
        <div class="date">{{hst.year}}</div>
        <div>
        <span data-target="#updateHistory" data-toggle="modal" *ngIf="logged" style="margin-left: 12px;"
            (click)="getOneHistory(hst._id)"><i class="fas fa-edit"></i></span>
          <span data-target="#deleteHistory" data-toggle="modal" *ngIf="logged" style="margin-left: 12px;"
            (click)="getOneHistory(hst._id)"><i class="fas fa-trash-alt"></i></span>
        </div>
        <p style="word-wrap: break-word;">
          {{hst.text}}
        </p>
      </div>

    </div>
    
    <button class="btn btn-primary btn-lg float-right rounded-circle style-btn" data-target="#addHistory" data-toggle="modal"
      data-placement="top" title="Agregar Historia" *ngIf="logged">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</section>
<!--------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------->
<!--NEW HISTORY -->
<div class="modal fade" id="addHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">CREAR SOCIO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="col-12" style="padding: 0px;">
          <ul class="nav nav-tabs flex-nowrap" role="tablist">
            <li role="presentation" class="nav-item">
              <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1" role="tab"
                title="Step 1"> 1 </a>
            </li>
            <li role="presentation" class="nav-item">
              <a href="#step2" class="nav-link disabled" data-toggle="tab" aria-controls="step2" role="tab"
                title="Step 2"> 2 </a>
            </li>
          </ul>
          <form role="form">
            <div class="tab-content py-2">
              <div class="tab-pane active" role="tabpanel" id="step1">
                <form #addFarmer="ngForm" class="contact100-form validate-form">
                  <div class="input-group mb-3" style="margin-top: 5px">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><i
                          class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="-" placeholder="Año"
                      style="border: none; border-bottom: 2px solid #3fa46a" name="year" #year="ngModel" [(ngModel)]="history.year">
                  </div>
                  <div class="input-group mb-3" style="margin-top: 5px">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><i
                          class="fas fa-mug-hot"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="-" placeholder="Titulo"
                      style="border: none; border-bottom: 2px solid #3fa46a" name="title" #title="ngModel" [(ngModel)]="history.title">
                  </div>
                  <div class="input-group mb-3" style="margin-top: 5px">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><img
                          src="https://img.icons8.com/ios-filled/50/000000/coffee-beans---v1.png" width="20" heigth="20"></span>
                    </div>
                    <textarea type="text" class="form-control" aria-label="-" placeholder="Descripción"
                      style="border: none; border-bottom: 2px solid #3fa46a" name="text" #text="ngModel" [(ngModel)]="history.text"></textarea>
                  </div>
                </form>
                <hr>
                <button type="button" class="btn btn-primary next-step float-right" (click)="newHistory()">
                  Siguiente<span style="margin-left: 12px;"><i class="fas fa-user-plus"></i></span>
                </button>
              </div>
              <div class="tab-pane" role="tabpanel" id="step2">
                <form>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text inp-publication"><i class="far fa-image"></i></span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input inp-publication" id="inputGroupFile00"
                        (change)="fileChangeEvent($event)">
                      <label class="custom-file-label inp-publication" for="inputGroupFile00">Choose file</label>
                    </div>
                  </div>
                </form>
                <hr>
                <ul class="float-atrasht">
                  <li class="list-inline-item">
                    <button type="button" class="btn btn-outline-primary prev-step">atras</button>
                  </li>
                  <li class="list-inline-item">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setImageHistory(history._id)">
                        Crear<span style="margin-left: 12px;"><i class="fas fa-user-plus"></i></span>
                      </button>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </section>
      </div>      
    </div>
  </div>
</div>

<!-- MODAL UPDATE HISTORY -->
<!-- <div class="modal fade" id="updateHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">EDITAR PUBLICACIÓN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group mb-3" style="margin-top: 5px">
            <div class="input-group-prepend">
              <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><i
                  class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" aria-label="-" placeholder="Año"
              style="border: none; border-bottom: 2px solid #3fa46a" name="year" #year="ngModel" [(ngModel)]="historySelected.year">
          </div>
          <div class="input-group mb-3" style="margin-top: 5px">
            <div class="input-group-prepend">
              <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><i
                  class="fas fa-mug-hot"></i></span>
            </div>
            <input type="text" class="form-control" aria-label="-" placeholder="Titulo"
              style="border: none; border-bottom: 2px solid #3fa46a" name="title" #title="ngModel" [(ngModel)]="historySelected.title">
          </div>
          <div class="input-group mb-3" style="margin-top: 5px">
            <div class="input-group-prepend">
              <span class="input-group-text" style="border: none; border-bottom: 2px solid #3fa46a"><img
                  src="https://img.icons8.com/ios-filled/50/000000/coffee-beans---v1.png" width="20" heigth="20"></span>
            </div>
            <textarea type="text" class="form-control" aria-label="-" placeholder="Descripción"
              style="border: none; border-bottom: 2px solid #3fa46a" name="text" #text="ngModel" [(ngModel)]="historySelected.text"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text inp-publication"><i class="far fa-image"></i></span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input inp-publication" id="inputGroupFile02"
                (change)="fileChangeEvent($event)">
              <label class="custom-file-label inp-publication" for="inputGroupFile02">Choose file</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <span>Cancelar <i class="fas fa-times" style="margin-left: 12px;"></i></span>
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateOneHistory(historySelected._id)">
          <span>Editar <i class="fas fa-user-minus"></i></span>
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- MODAL DELETE HISTORY -->
<div class="modal fade" id="deleteHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">ELIMIAR Historia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>¿Estás seguro de eliminar esta parte de la historia?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <span>Cancelar <i class="fas fa-times" style="margin-left: 12px;"></i></span>
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="deleteOneHistory(historySelected._id)">
          <span>Elimiar <i class="fas fa-trash-alt" style="margin-left: 12px;"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>