<main>
    <div class="row" id="parallax-1" style="margin: 0;">
    </div>

    <div class="row" style="margin: 0;">
        <div style="margin: 0 auto;">
            <h1>
                <p>¿Qué es Vicafe?</p>
            </h1>
        </div>
    </div>
    <div class="row" style="margin: 0;">
        <div style="margin: 0 auto;">
            <h3>
                <p id="desc-vicafe">Aquí va una descripcion general de que es y como trabaja vicafe</p>
            </h3>
        </div>
    </div>

    <div class="row" id="parallax-2" style="margin: 0;">
    </div>

    <div class="row" style="margin: 0;">
        <div class="col-lg-6" id="vision-cel">
            <div class="misino-vision" id="vision">
                <h2>
                    <p style="text-align: center;">Visión</p>
                </h2>
                <h4>
                    <p class="desc-mision-vision">
                        Vicafe, cooperativa innovadora, promueve el empalme generacional en la caficultura
                        presta servicios a sus asociados e impulsa el desarrollo en la región cafetalera.
                    </p>
                </h4>
            </div>
        </div>
        <div class="col-lg-6" id="mision-cel">
            <div class="misino-vision" id="mision">
                <h2>
                    <p style="text-align: center;">Misión</p>
                </h2>
                <h4>
                    <p class="desc-mision-vision">
                        Vicafe, organización representante de la juventud, vela por los intereses de sus asociados
                        a travéz de programas y proyectos que permitan la sostenibilidad y competitividad en el
                        mundo del café.
                    </p>
                </h4>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 0;">
    <div style="margin: 0 auto">
            <h2>
                <p>Ofrecemos servicios de:</p>
            </h2>
        </div>
    </div>
    <div class="row row-list">
        <div class="col-lg-5" id="col-1">
            <div style="padding-left: 5px;">
                    <h3>
                        <p class="sub">Servicios Genereales:</p>
                    </h3>
            </div>
            <ul style="padding-left: 5%;">
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Comercializació de Café.</p>
                    </h4>
                </li>
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Créditos.</p>
                    </h4>
                </li>
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Catación.</p>
                    </h4>
                </li>
            </ul>
        </div>
        <div class="col-lg-5" id="col-2">
            <div style="padding-left: 5px;">
                <h3>
                    <p class="sub">Cursos:</p>
                </h3>
            </div>
            <ul style="padding-left: 10%;">
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Curso de Barismo.</p>
                    </h4>
                </li>
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Curso de Catación.</p>
                    </h4>
                </li>
            </ul>
        </div>
        <!-- <div class="col-lg-4">
            <div style="padding-left: 5px;">
                <h3>
                    <p class="sub">Asistencia Técnica en:</p>
                </h3>
            </div>
            <ul style="padding-left: 10%;">
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Agronómica.</p>
                    </h4>
                </li>
                <li>
                    <h4>
                        <p style="font-family: 'Architects Daughter', cursive;">Organizativa.</p>
                    </h4>
                </li>
            </ul>
        </div> -->
    </div>
    
    <div class="row" id="parallax-3" style="margin: 0;">
    </div>

</main>