ul{
    display: block;
}

a{
    color: white;
}

footer{
    color: white
}

#list li{
    display:inline;padding-left:3px;padding-right:3px;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    footer{
        font-size: 10px;
    }
}