<footer class="footer" style="background-color: #000f16">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Información:</h4>
                    <p>Contactanos:
                        rlcovicafe@gmail.com <br>
                        cel.: (+502)</p>    
                    <h5>Ubicación</h5>
                    <p>
                        CANTON NORTE BAJO, SAN ANTONIO HUISTA, HUEHUETENANGO, GUATEMALA
                    </p>
                </div>
                <div class="col-lg-6">                    
                    <h5 style="margin-left: 100px">Representantes legales:</h5>
                        <ul class="float-right">
                            <li>Roxana Maricruz Montejo Lopez<br>
                                <span style="text-align: center;">(+502) 4491 7021</span>
                            </li>
                            <li>Isabel Angélica Méndez Delgado<br>
                                <span style="text-align: center;">(+502) 3319 9543</span>
                            </li>
                        </ul>                
                </div>
            </div>
        </div>
        <hr style="background-color: white;">
        <div class="credits ml-auto" style="text-align: center;">
            <span>
                © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim and Carlos Lara
            </span>
        </div>
    </footer>
