<footer class="footer" style="background-color: #000f16; padding-top: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Información:</h4>
                    <h5>
                        <p>Contactanos:</p>
                    </h5>
                    <h6 style="margin-left: 50px;">
                        <p>Email: rlcovicafe@gmail.com <br></p>
                    </h6> 
                    <h5>Ubicación</h5>
                    <h6 style="margin-left: 50px; text-align: center;">
                        <p>CANTON NORTE BAJO, SAN ANTONIO HUISTA, HUEHUETENANGO, GUATEMALA</p>
                    </h6>
                </div>
                <div class="col-lg-6">                    
                    <h5 style="margin-left: 100px">Representante legal:</h5>
                        <h6 style="margin-left: 150px;text-align: center;">
                            <p>Roxana Maricruz Montejo Lopez<br>
                                <span style="text-align: center;">(+502) 4491 7021</span>
                            </p>
                        </h6>
                    <h5 style="margin-left: 100px;">Administradora:</h5>
                        <h6 style="margin-left: 150px; text-align: center;">
                            <p>Carolina Chavez<br>
                                <span style="text-align: center;">(+502) 3024 6126</span>
                            </p>
                        </h6>                
                </div>
            </div>
        </div>
        <hr style="background-color: white;">
        <div class="credits ml-auto" style="text-align: center;">
            <span>
                © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim and Carlos Lara
            </span>
        </div>
    </footer>
